@charset "utf-8";
body {
    margin: 0;
    padding: 0;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.main {
    height: 100vh;
    display: flex;
}

.sub {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.participants-videos {
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    display: flex;
    border: 5;
    border-radius: 2;
    border-color: #e6e6e6;
}

.controls {
    background-color: #e6e6e6;
    color: #8b8b8b;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    box-shadow: black 1px 7px 20px;
}

.block {
    display: flex;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.button i {
    font-size: 20px;
}

.button:hover {
    background-color: #8b8b8b;
    color: white;
    border-radius: 10px;
}

.leave-meeting {
    color: #8b8b8b;
}

.chat-body {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-left: 5px solid #e6e6e6;
}

.header {
    color: #8b8b8b;
    text-align: center;
}

.chat-display {
    flex-grow: 1;
    overflow-y: scroll;
}

.type-bar {
    padding: 20px 10px;
    display: flex;
}

.type-bar input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #3a3a3a;
}

.messages {
    color: #838383;
    list-style: none;
}

.unmute, .stop {
    color: #b90000;
}